@import '../../styles.scss';

.messages {
    width: 60%;
    padding: 20px;
    background: $color7;
    color: $color5;
    margin: 20px auto;

    h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
    }

    p {
        padding: 0;
        padding-bottom: 20px;
        margin: 0;
    }

    .clear {
        display: block;
        border: none;
        outline: none;
        background: $color2;
        color: $color5;
        padding: 10px;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            background: $color1;
        }
    }
}