@import '../../styles.scss';

.top__box {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.single__box {
    width: calc(100%/3);
    padding: 20px;
    margin: 10px;
    background: $color1;
    color: $color5;
    text-decoration: none;
    transition: all .3s ease-in;

    &:hover {
        background: $color3;
    }

    figure {
        width: 200px;
        margin: 0 auto;
        height: 200px;
        overflow: hidden;
        background: #FFF;
        border-radius: 50%;
    }

    h4 {
        text-align: center;
        text-transform: uppercase;
    }
}

img {
    max-width: 100%;
}