<h1 class="title">{{ title }}</h1>
<div class="row">

  <div class="heroes">
    <ul class="heroes__list">
      <li *ngFor="let hero of heroes" 
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero">
        <span> {{ hero.id }} </span>
        <div class="image">
          <img src="{{ hero.image }}" alt="{{ hero.name }}">
        </div>
        <p> {{ hero.name }} </p>
      </li>
    </ul>
  </div>

  <app-hero-detail [hero]="selectedHero"></app-hero-detail>

</div>
<app-messages></app-messages>